# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer': [
      {label: 'Enable status-stats', command: 'status-stats:toggle'}
  ]

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Status Word Count'
      'submenu': [
        { 'label': 'Toggle', 'command': 'status-stats:toggle' }
      ]
    ]
  }
]
